/*::-webkit-scrollbar {
  display:none;
}*/

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
    overflow-x: hidden;
    background-color: white;
    font-family: "Archivo", sans-serif;
    margin: 0;
}

#s1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300vh;
    flex-direction: column;
    background-color: #6420aa;
}

.boxScroll {
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    background-color: white;
}

#s2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    background: #cdfad5;
}

#s3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    background: #ffcf96;
}

.horizontalScroll {
    height: 100vh;
    width: 400vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    background: #b41ef2;
    /*violet*/
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
}

/*alterner le jaune et le violet des cellules de la grille*/
.col:nth-child(odd) {
    background: #f5e963;
    /*jaune*/
    color: black;
}

#s4 {
    height: 300vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: black;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: black;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
    background-color: white;
}

h2 {
    color: red;
}